# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

#Comment because not precompile assets on Heroku at 13 December 2013
#/public/assets/*

.ruby-version
.ruby-gemset

/config/database.yml
